.bookBtn {
  padding: 16px 48px 16px 48px;
  background: #f4c550;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  transition: var(--animation);
}

.bookBtn:hover,
.bookBtn:focus {
  background-color: #fbe9ba;
}
