.addInfoBlock {
  margin-top: 24px;
  border: 1.5px dashed #f4c550;
  border-radius: 30px;
  width: 100%;
  max-width: 1312px;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .addInfoBlock {
    padding: 40px;
  }
}

.infoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .infoList {
    flex-direction: row;
    justify-content: space-around;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.main {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .main {
    font-size: 28px;
    line-height: 32px;
  }
}

.second {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  max-width: 90px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .second {
    font-size: 14px;
    line-height: 18px;
  }
}
