.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  /* opacity: 0; */
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
}

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.modalContent {
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 566px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 64px;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s;
}
.icon {
  width: 32px;
  height: 32px;
}
.closeBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
