.submitBtn {
  background: #f4c550;
  border: none;
  outline: none;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
