.levelsBlock {
  display: flex;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.levelTag {
  border-radius: 35px;
  border: 1px solid #12141733;
  padding: 8px 12px 8px 12px;

  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
