.listItem {
  background-color: #ffffff;
  display: flex;
  gap: 48px;

  width: 1184px;
}

.imgCont {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 3px solid #fbe9ba;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 96px;
  height: 96px;
  border-radius: 100px;
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.span {
  color: #8a8a89;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.infoBlock {
  display: flex;
  width: 968px;
  flex-direction: column;
  align-items: flex-start;
}

.topBlock {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.lessonsFormat {
  display: flex;
  gap: 8px;

  align-items: center;
  width: 132px;
}
.bookIcon {
  width: 16px;
  height: 16px;
}
.format {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.mainBar {
  display: flex;
  align-items: center;
  gap: 16px;

  height: 24px;
}
.line {
  height: 16px;

  border: 1px solid #12141733;
  display: flex;
}

.lessonsDone {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.ratingBlock {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.starIcon {
  fill: #ffc531;
}
.price {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.priceSpan {
  color: #38cd3e;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.heart {
  width: 26px;
  height: 26px;
}
.topBar {
  display: flex;
  gap: 64px;
}

.aboutBlock {
  margin-bottom: 16px;
}

.aboutSpeaks,
.aboutLesson,
.aboutCond {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  color: #8a8a89;
}
.aboutSpeaks {
  margin-bottom: 8px;
}
.aboutLesson {
  margin-bottom: 8px;
}
.aboutSpan,
.aboutSpeaksSpan {
  color: #121417;
}
.aboutSpeaksSpan {
  text-decoration: underline;
}
.loadMoreBtn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;

  margin-bottom: 32px;
  padding: 0;
}
