.formCont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.radioBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.bookBtn {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  border: none;
  background: #f4c550;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

.radioInput:checked {
  background-color: #f4c550;
  border: 1px solid #f4c550;
}
.radioInput:checked {
  background-color: #f4c550;
  border: 1px solid #f4c550;
}
.userDataBlock {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.dataInput {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #1214171a;
  padding: 16px 0px 16px 18px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
