.formCont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.radioBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.bookBtn {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  border: none;
  background: #f4c550;
  border-radius: 12px;
  outline: none;
  cursor: pointer;

  transition: var(--animation);
}

.bookBtn:hover,
.bookBtn:focus {
  background-color: #fbe9ba;
}

.userDataBlock {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.dataInput {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #1214171a;
  padding: 16px 0px 16px 18px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  outline: none;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.inputSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioBlock label {
  display: flex;

  cursor: pointer;
}

.radioBlock input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.radioInput + span {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 2px solid #1214171a;
  display: inline-block;
  margin-right: 10px;
  transition: var(--animation);
}

.radioInput:checked + span {
  background-color: #f4c550;
  border: 2px solid #f4c550;
}

.radioBlock input[type="radio"]:not(:checked) + span {
  background-color: transparent;
}

.radioBlock label span {
  position: relative;
  top: 3px;
}

.radioBlock label span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
}

.radioInput:checked + span::before {
  opacity: 1;
}
