.welcomeInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  height: auto;
  border-radius: 30px;
  background-color: #f8f8f8;
  padding: 24px;
  box-sizing: border-box;

  align-items: center;
}

@media (min-width: 900px) {
  .welcomeInfo {
    height: 530px;
    padding: 64px;
    align-items: normal;
  }
}

.title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media (min-width: 900px) {
  .title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }
}

.highlight {
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  background: #fbe9ba;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .highlight {
    font-size: 48px;
    line-height: 56px;
  }
}

.desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .desc {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 64px;
  }
}

.btn {
  width: 100%;
  max-width: 267px;
  background: #f4c550;
  padding: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  transition: var(--animation);
}

.btn:hover,
.btn:focus {
  background: #ffdc86;
}

.link {
  text-decoration: none;
}
